
#header
{
	display: flex;
	flex-direction: row;
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	padding: 10px;
	justify-content: space-between;
	color: #FFF;
	background-color: #000;

	z-index: 1030;
}

.header__img-logo
{
	height: 90px;
	margin: auto 2em;
	padding: 5px 0;
}

.header__img-menu
{
	margin: auto;
	margin-right: 0;
}

#header input:checked + ul
{
	display: flex;
}

.header__menu
{
	list-style: none;
	padding: 0;
}

.header__menu li
{
	margin: auto;
}

.header__menu-item
{
	margin: auto 10px;
	
	font-size: 1.2rem;
	text-decoration: none;

	display: block;
	position: relative;
	padding: 0.2em 0;

	overflow: hidden;
}

.header__menu-item img
{
	width: 35px;
	height: 35px;
}

.header__menu-item
{
	color: #FDB913;

	cursor: pointer;
}

#header input[type=radio],
#header input[type=checkbox]
{
	display: none;
}

.header__menu-item::after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #FDB913;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.header__menu-item::after
{
	opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

.header__menu-item:hover::after,
.header__menu-item:focus::after,
#header input:checked + *::after
// li > *:has(input[type=radio]:checked)::after
{
	transform: translate3d(0, 0, 0);
}


@media (max-width: $mobile-width)
{
	#header
	{
		flex-direction: column;
	}

	.header__img-logo
	{
		width: 60%;
		height: auto;
		margin-left: 1em;
	}

	.header__img-menu
	{
		display: block;
	}

	.header__img-menu img
	{
		width: 20px;
		height: 20px;
		margin-right: 20px;
	}

	#header ul
	{
		display: none;
		text-align: center;
	}

	#header li > div
	{
		padding-top: 1em;
		justify-content: space-evenly;
	}
}

// CSS MENU
// NOT WORK WITHOUT ":HAS" PROPERTY

// #wrapper:has(#menu-item__main:checked) [data-block="main"]
// {
// 	display: block;
// }

// #wrapper:has(#menu-item__get-started:checked) [data-block="get-started"]
// {
// 	display: block;
// }

// #wrapper:has(#menu-item__algo:checked) [data-block="algo"]
// {
// 	display: block;
// }

// #wrapper:has(#menu-item__whitepaper:checked) [data-block="whitepaper"]
// {
// 	display: block;
// }

// #wrapper:has(#menu-item__faqs:checked) [data-block="faqs"]
// {
// 	display: block;
// }
